/* :root {
    --bg: #3d5169;
    --fg: #d0e3f9;
    --em: #c5b78a;
    --l1: #496d96;
    --l2: #7598c1;
    --l3: #a9c2df;
    --l4: #d2e3f6;
    --d1: #243750;
    --d2: #12253d;
    --d3: #0a1b2f;
    --d4: #041324;
    --base-font-size: 16pt;
}

* {
    font-family: Tahoma, sans-serif;
    font-size: var(--base-font-size);
    color: var(--fg);
}

body {
    background-color: var(--bg);
    color: var(--fg);
}

main {
    padding: 20px;
}

h1 {
    font-size: calc(var(--base-font-size)*2);
}

button,
label {
    background-color: var(--l1);
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s;
}

button:hover,
label:hover {
    background-color: var(--l2);
    cursor: pointer;
}

input[type="file"] {
    display: none;
} */

.hidden {
    display: none;
}

.squareContainer {
    width: 20vw;
    height: 20vh;
}

.squareContainer > img {
    width: clamp(20px, 20vw, 100%);
    height: clamp(20px, 20vh, 100%);
}

#dropper .file-cta {
    -webkit-transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}

#dropper .file-cta > * {
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
}

.brand-font {
    font-family: Tillana;
}

img.brand-logo-nav {
    height: 65px;
}

.aspect-ratio-switch {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.aspect-ratio-switch input {
    display: none;
}

.aspect-ratio-switch > span {
    padding: 20px;
    border-radius: 50%;
    align-items: center;
    transition: all 0.2s linear;
}

.aspect-ratio-switch > span {
    border: 1px solid rgb(219, 219, 219);
    color: rgba(74, 74, 74, 0.6);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.aspect-ratio-switch > span:hover {
    box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
    border: 1px solid rgb(181, 181, 181);
    color: rgb(74, 74, 74);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.aspect-ratio-switch > input:checked + span {
    box-shadow: 0 0 0 0.125em rgb(72 95 199 / 25%);
    border: 1px solid rgb(72, 95, 199);
    color: rgb(74, 74, 74);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

fieldset:disabled .aspect-ratio-switch > span {
    box-shadow: none;
    border: 1px solid rgb(219, 219, 219);
    color: rgba(74, 74, 74, 0.6);
}
